body{
    background-color: #EEEEEE;
}
.login-box{
    background-color: #FFFFFF;
    width: 488px;
    height: 575px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFFFFF;
    border-top: 4px solid #3AC7EC;
}

.login-box form{
    padding: 0 32px;
    box-sizing: border-box;
}
.headtitle{
    font-size: 24px;
    margin-top: 20px;
    /* text-align: center; */
}

.title{
    margin: 0 126px;
}
.backbtn{
    margin-left: 32px;
    padding-top: 2px;
}

.radiobtnbox{
    margin-top: 34px;
    height: 24px;
}
.dist{
    font-size: 16px;
    padding-top: 4px;
}

.radiobtn{
        /* margin-left: 12px; */
    padding-right: 8px;
    margin-left: 32px;
    
}

.school{
    margin-top: -19px;
    font-size: 16px;
    margin-left: 181px;
}
.radiobtn2{
    margin-top: -22px;
    margin-left: 85px;
}

.select-state{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 26px;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.select-district{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 37px;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.select label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666666;
}

select{
    border: none;
    border-bottom: 1px solid #cfc7c7;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    color: #222222;
    font-weight: bold;
}

.district {
    margin-left: 32px;
}

.select select{
    appearance: none;
    background-image: url(icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right;
}

@media only screen and (min-width: 321px) and (max-width: 767px)  {
    .login-box{
        width: 350px;
    }
    }


  @media (max-width: 320px){
    .title{
        /* text-align: center; */
        font-size: 20px;
        margin: 0 50px;
    }
    .login-box{
        width: 300px;
    }
  }
  